[submodule "framework"]
	path = framework
	url = git@github.com:themebright/ThemeBright-Framework.git
[submodule "customizer-library"]
	path = customizer-library
	url = git@github.com:devinsays/customizer-library
