//
// RESTFUL - DARK
//


// IMPORT

@import 'importer';


// COLORS

@co-background:    #272428;
@co-text-strong:   #fff;
@co-text:          #a2a6ae;
@co-text-subtle:   #555a62;
@co-border-strong: #49444c;
@co-border:        #38343a;
@co-accent:        #50e3c2;
