//
// HEADER
//


.section-header {
  @media @mq-sm-max {
    .menu {
      display: none;
    }
  }

  @media @mq-md-min {
    .branding {
      line-height: 90px;

      img {
        position: relative;
        top: 35px;
      }
    }

    label.toggle-menu {
      display: none;
    }

    .primary-menu {
      text-align: right;
      line-height: 30px;

      a {
        color: @co-text-dark;

        &:hover {
          color: @co-text;
          text-decoration: none;
        }
      }

      > .menu-item {
        line-height: 90px;
        position: relative;
        display: inline-block;

        &:hover .sub-menu {
          opacity: 1;
          transform: translateY( 0 );
        }

        + .menu-item {
          margin-left: 1em;
        }
      }

      .sub-menu {
        opacity: 0;
        position: absolute;
        left: 50%;
        margin-left: -105px;
        transform: translateY( -30px );
        transition: @tr-medium;
        text-align: center;
        background: #fff;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .1em;

        > .menu-item {
          line-height: 3;
          box-shadow: inset 0 1px @co-border;

          > a {
            display: block;
            width: 210px;
          }
        }
      }
    }
  }
}