//
// MASTHEAD
//

.section-masthead {
  background: @co-border;
  padding: 30px 0;

  .masthead-subtitle {
    color: @co-text-light;
  }

  @media @mq-md-min {
    padding: 60px 0;
  }
}

.masthead-centered {
  text-align: center;
}