//
// MIXINS
//


.cf {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

.clear {
  clear: both;
}

.vertically-centered {
  transform: translateY( -50% );
  position: relative;
  top: 50%;
  display: block;
}

.ir {
  display: block;
  text-indent: -999em;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-reader {
  position: absolute !important;
  clip: rect( 1px, 1px, 1px, 1px );
}

.appearance( @value ) {
  -webkit-appearance: @value;
  -moz-appearance: @value;
  appearance: @value;
}

.styled-text( @margin ) {
  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  address,
  ul,
  ol,
  dl,
  table,
  hr {
    margin-top: @margin;
  }

  blockquote {
    margin-left: @margin;
  }

  ul,
  ol {
    margin-left: @margin;

    ul,
    ol {
      margin-top: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dt {
    font-weight: @fw-bold;
  }

  dd + dt {
    margin-top: @margin;
  }

  pre {
    box-shadow: inset 0 0 0 1px @co-border;
    padding: 1.5em;
    font-size: 14px;
  }
}
