//
// ENTRY
//


.entry + .entry {
  margin-top: 90px;
}

.entry-thumbnail {
  margin-bottom: 30px;
}

.entry-excerpt .entry-thumbnail {
  width: 90px;
  .alignright;
}

.entry-type {
  .h5;
  color: @co-text-subtle;
}

.entry-title {
  margin-bottom: 30px;
}

.entry-meta {
  margin-bottom: 30px;

  a {
    color: @co-text;

    &:hover {
      color: @co-text-strong;
    }
  }
}

.entry-meta-item {
  > *  {
    .inline-top;
  }

  .fa {
    line-height: 1.714285714; // = 16px * 1.5
    font-size: 14px;
    margin-right: .5em;
    color: @co-text-subtle;
  }

  + .entry-meta-item {
    margin-top: 1em;
    padding-top: 1em;
    box-shadow: inset 0 1px @co-border;
  }
}

.entry-content {
  .styled-text( 1.5em );
}

.entry-map {
  margin-top: 30px;
}

.post-password-form {
  p:first-child {
    margin-top: 0;
  }

  input {
    margin-top: 1.5em;
  }
}

.entry.sticky {
  padding-left: 30px;
  box-shadow: inset 1px 0 @co-accent;
}